<html>
    <style>
    </style>
    <script>
        function forEachOfClass(classname, func) {
            var things = document.getElementsByClassName(classname);
            Array.prototype.forEach.call(question, func);
        });

        forEachOfClass("correct", function(x){
            x.addEventListener(function(){
            })
        });

    </script>

<title>Python Quiz</title>
<ul>
{% for q in questions %}
   <li class="question"> {% include q.template + '.html' %} </li>
{% endfor %}
</ul>

</html>
