<html>
    <style>
    </style>
    <script>
        function forEachOfClass(classname, func) {
            var things = document.getElementsByClassName(classname);
            Array.prototype.forEach.call(things, func);
        };

        forEachOfClass("correct", function(x){
            console.log('found one')
            x.addEventListener('click', function(){
                console.log("asdf");
                a = this;
                this.style.background = '';
            })
        });

    </script>

<title>Python Quiz</title>
<ul>
{% for q in questions %}
   <li class="question"> {% include q.__class__.__name__ + '.html' %} </li>
{% endfor %}
</ul>

</html>
