li.question {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

}

li.explanation {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    background-color: #D6FFE0;
}

div.prompt {
    margin-bottom: 5px;
}
li {
    list-style-type: none;
}
.answers li {
    margin: 5px;
}
div.content {
    width = 600px;
}

.yes-no {
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 75%;
}
