<div class="prompt">{{ q.html() }}</div>
    <ul class="checkbox-answers answers">
    {% for a in q.alpha_answers %}
        <div class="mutex">
        <li>
        Yes
        <input type="radio" name="{{ 'answers' ~ q.id ~ '-' ~ loop.index }}" value="true" class="{{ "correct" if a.correct else "incorrect" }}">
        <input type="radio" name="{{ 'answers' ~ q.id ~ '-' ~ loop.index }}" value="false" class="{{ "incorrect" if a.correct else "correct" }}">
        No
        {{ a.html() }}
        </li>
        </div>
    {% endfor %}
    </ul>
